<div class="well">
	<form method="post" action="/post" class="">
		<div class="col-xs-9 col-md-offset-1 ">
			<input type="text" name="post" class="form-control" >
		</div>
		<button type="submit" class="btn btn-success">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 发表
		</button>
	</form>
</div>